# Backend API URL (Optional in development as Vite proxy is used. In production, set to your backend domain, e.g. https://api.yourdomain.com/api)
VITE_API_URL=

# Google OAuth Client ID (Optional, fill in to test Google OAuth flow)
VITE_GOOGLE_CLIENT_ID=
